<div class="field">
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
</div>
<div class="field">
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
</div>
<div class="field">
	<%= f.label :mobile_number %>
	<%= f.text_field :mobile_number %>
</div>
<div class="field">
	<%= f.label :approved %>
	<%= f.check_box :approved %>
</div>
