%h2.mb-3 Account Overview
.row
  .col-6
    .card.text-white.bg-primary.mb-3
      .card-header.bg-secondary
        %h5.card-title.fs-2 Personal Details
      .card-body
        %p.card-text.fs-4 Name: #{@trader.first_name} #{@trader.last_name}
        %p.card-text.fs-4 Email: #{@trader.user.email}
        %p.card-text.fs-4 Mobile: #{@trader.mobile_number}
  .col-6
    .card.text-white.bg-primary.mb-3
      .card-header.bg-secondary
        %h5.card-title.fs-2 Wallet
      .card-body
        %p.card-text.fs-4 You currently have #{display_currency(@trader.wallet.balance)} in your wallet 
