%p#notice= notice
%p
  %strong Email:
  = @trader.user.email
%p
  %strong First name:
  = @trader.first_name
%p
  %strong Last name:
  = @trader.last_name
%p
  %strong Mobile number:
  = @trader.mobile_number
%p
  %strong Approved:
  = @trader.approved
= link_to 'Edit', edit_trader_path(@trader)
|
= link_to 'Back', traders_path