%h2 Account Overview
.row
  %p #{@trader.first_name} #{@trader.last_name}
  %p= @trader.user.email
  %p Mobile: #{@trader.mobile_number}
.row
  %h4 Wallet
  %p You currently have #{display_currency(@trader.wallet.balance)} in your wallet 
