%table.table.table-striped.table-bordered.align-middle.caption-top
  %caption
    List of Admins
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th Mobile number
      %th{:colspan => "2"}
  %tbody
    - @admins.each do |admin|
      %tr
        %td= admin.first_name
        %td= admin.last_name
        %td= link_to "#{admin.user.email}", admin
        %td= admin.mobile_number
        %td= link_to 'Edit', edit_admin_path(admin)
        %td= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' }