= form_with(model: transaction) do |form|
    
  .field
  - if current_user && current_user.trader
    = form.hidden_field :trader_id, :value => current_user.trader.id
  .field
    = form.hidden_field :stock_id, :value => @stock.id   
  .field
    = form.hidden_field :date, :value => DateTime.current 
  .field
    = form.hidden_field :price, :value => @stock.current_price
  .field
    = form.hidden_field :transaction_type, :value => "buy"
  .field
    = form.label :stock_share
    = form.text_field :stock_share
    - if transaction.errors.full_messages_for(:stock_share).any?
      - transaction.errors.full_messages_for(:stock_share).each do |error|
        %p= error
  
  .actions
    = form.submit "Buy #{@stock.name.titleize}"


