= form_with(model: transaction) do |form|
    
  .field
  - if current_user && current_user.trader
    = form.hidden_field :trader_id, :value => current_user.trader.id
  .field
    = form.hidden_field :stock_id, :value => @stock.id   
  .field
    = form.hidden_field :date, :value => DateTime.current 
  .field
    = form.hidden_field :price, :value => @stock.current_price
  .field
    = form.hidden_field :transaction_type, :value => "buy"
  .field.d-flex.flex-column
    .d-flex.flex-row.justify-content-between
      .text-secondary.text-start= "Available: "
      .text-secondary.text-end=display_currency(current_user.trader.wallet.balance)
    .input-group.mb-3
      = form.text_field :stock_share, :min=>0, :max=>get_max_buy(@stock), :class => "form-control", :value=>"0", placeholder: 'Buy Investment Shares'
      %span.input-group-text#basic-addon2= @stock.symbol.upcase
    = form.range_field :range_share, :min=>0, :max=>get_max_buy(@stock), :class=>"slide", :id=>"slider", :value=>"0"
    - if transaction.errors.full_messages_for(:stock_share).any?
      - transaction.errors.full_messages_for(:stock_share).each do |error|
        .text-danger= error
  .actions
    .d-flex.flex-row.justify-content-between.mt-5
      .text-secondary.text-start= "Total Amount"
      .text-secondary.text-end#total_amount_container= display_simple_currency(0.00)
    = form.submit "BUY #{@stock.name.titleize}", class: 'btn btn-success text-white w-100 p-2', data: { confirm: "Are you sure you want to buy #{@stock.name.titleize}?" }


