%p#notice= notice
%h2
  = image_tag(@stock.image, :size =>'60x60')
  = "#{@stock.name} - #{@stock.symbol.upcase}"
-# %h2= number_to_currency(@stock.current_price, unit: "₱ ", separator: ".", delimiter: ",").to_s

%table.table
  %thead
    %tr
      %th Current Price
      %th Market Cap
      %th 24h High 
      %th 24h Low 
      %th % Change
      %th All-time High

  %tbody
    %tr
      %td= number_to_currency(@stock.current_price, unit: "₱ ", separator: ".", delimiter: ",").to_s
      %td= number_to_currency(@stock.current_market_cap, unit: "₱ ", separator: ".", delimiter: ",").to_s
      %td= number_to_currency(@stock.current_daily_high, unit: "₱ ", separator: ".", delimiter: ",").to_s
      %td= number_to_currency(@stock.current_daily_low, unit: "₱ ", separator: ".", delimiter: ",").to_s
      - if @stock.current_daily_change > 0 
        %td.text-success= number_to_percentage(@stock.current_daily_change)
      - else
        %td.text-danger= number_to_percentage(@stock.current_daily_change)
      %td= number_to_currency(@stock.current_ath, unit: "₱ ", separator: ".", delimiter: ",").to_s

.d-flex.flex-row.px-3.mx-5
  .modals.d-flex.flex-column.justify-content-center.px-2.mx-5
    .modal_buy.d-flex.flex-column.justify-content-center.align-items-center.p-2
      %p= "Available: insert available balance here"
      = render 'transaction_buy_form', transaction: @transaction
    .modal_sell.d-flex.flex-column.justify-content-center.align-items-center.p-2
      %p.text-left= "Available:  #{@available} #{@stock.symbol.upcase}"
      = render 'transaction_sell_form', transaction: @transaction
  .container.px-3.mx-3
    -candlestick_options = {plot_options: {candlestick: {colors: {upward: '#007a5a',downward: '#e50815'}}},xaxis: {labels: {format: 'MMM dd'}}, yaxis: {labels: {format: 'PHP'}} }
    -candlestick_data = @stock.get_ohlc
    = candlestick_chart(candlestick_data, candlestick_options)








= link_to 'Edit', edit_stock_path(@stock)
|
= link_to 'Back', stocks_path
