%p#notice= notice
.d-flex.flex-row.align-items-center.justify-content-between.mx-5
  .d-flex.flex-row.align-items-center
    .m-3= image_tag(@stock.image, :size =>'60x60')
    .d-flex.flex-column
      .d-flex.flex-row.align-items-center
        %h2.px-3=@stock.symbol.upcase
        %h3.text-muted=@stock.name
      .d-flex.flex-row.align-items-center
        %h2.px-3{:id => "current_price", "data-stock-price" => @stock.current_price}= display_currency(@stock.current_price)
        - if @stock.current_daily_change > 0 
          %h5.text-success= "(#{number_to_percentage(@stock.current_daily_change)})"
        - else
          %h5.text-danger= "(#{number_to_percentage(@stock.current_daily_change)})"
  .col-7.m-3.align-items-center.justify-content-center
    %table.table
      %thead
        %tr
          %th Market Cap
          %th 24h Volume
          %th 24h High 
          %th 24h Low 
          %th All-time High
      %tbody
        %tr
          %td= display_currency(@stock.current_market_cap)
          %td= display_currency(@stock.daily_volume)
          %td= display_currency(@stock.current_daily_high)
          %td= display_currency(@stock.current_daily_low)
          %td= display_currency(@stock.current_ath)

.container.p-3
  .d-flex.flex-row.mt-4.align-items-stretch.justify-content-center.h-100
    .d-flex.flex-column.align-items-stretch.justify-content-center.p-5.col-4.shadow.bg-body.rounded
      .btn-group
        %button.btn.btn-outline-primary.active{:id => 'toggle_buy_button', :class => ('disabled' unless current_user.trader.approved)}= "BUY"
        %button.btn.btn-outline-primary{:id => 'toggle_sell_button', :class => ('disabled' unless current_user.trader.approved)}= "SELL"
      - if current_user.trader.approved
        .h-100.w-100.d-flex.flex-column.justify-content-center.p-2{:id => "buy_container"}
          = render 'stocks/transaction_buy_form', transaction: @transaction
        .h-100.w-100.d-flex.flex-column.justify-content-center.p-2.d-none{:id => "sell_container"}
          = render 'stocks/transaction_sell_form', transaction: @transaction
      - else
        .h-100.w-100.d-flex.flex-column.justify-content-center.p-2
          %p.text-center.text-secondary.fs-4 Please wait for approval before you can start trading
      = link_to "Show #{@stock.symbol.upcase} holdings", portfolio_path + "/#{@stock.id}"
      = link_to 'Stocks', stocks_path
    =render 'stocks/candlestick_chart', stock: @stock


