%h2.mb-5.text-secondary  Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field.form-floating.mb-4.col-6
    = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
    = f.label :email, 'Email', class: 'form-label'
  .actions
    = f.submit "Send me reset password instructions", class: 'mb-3 btn btn-outline-primary'
= render "devise/shared/links"
