.row
  .col-4
    .card.text-white.bg-primary.mb-3
      .card-body
        %h1.display-4
          = Trader.count
        %p.card-text Total Traders
      .card-footer.text-center
        = link_to 'See All Traders', traders_path, class: 'text-white'
  .col-4
    .card.text-white.bg-primary.mb-3
      .card-body
        %h1.display-4
          = display_currency(WalletTransaction.total_deposit.sum(:amount) - WalletTransaction.total_withdrawal.sum(:amount))
        %p.card-text Total Money
      .card-footer.text-center
        More info
  .col-4
    .card.text-white.bg-primary.mb-3
      .card-body
        %h1.display-4
          = Transaction.count
        %p.card-text Total Transactions
      .card-footer.text-center
        = link_to 'See All Transactions', transactions_path, class: 'text-white'
