%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    = link_to 'Stocks App', root_path, class: 'navbar-brand link-color'
    %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavAltMarkup", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        - if user_signed_in?
          - if current_user.role == 'admin'
            = link_to 'Create A New Account', new_user_registration_path, class: 'btn'
            = link_to 'Traders', traders_path, class: 'btn'
            = link_to 'Admins', admins_path, class: 'btn'
            = link_to 'Transactions', transactions_path, class: 'btn'
            = link_to 'Edit Personal Details', edit_admin_path(current_user.admin), class: 'btn'
          - elsif current_user.role == 'trader'
            = link_to 'My Portfolio', portfolio_path, class: 'btn'
            = link_to 'Wallet', wallet_transaction_path, class: 'btn'
            = link_to 'Edit Personal Details', edit_trader_path(current_user.trader), class: 'btn'
            = link_to 'Stocks', stocks_path, class: 'btn'
          = link_to 'Edit Profile', edit_user_registration_path, class: 'btn'
          = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn'
        - else
          = link_to 'Log in', new_user_session_path, class: 'btn'
