.container
    -if user_signed_in?
        - if current_user.role == 'trader'
            .d-flex.flex-row.my-3.align-items-center.justify-content-between
                %h1 Hello Trader #{current_user.trader.first_name}
                = form_tag stocks_path, :method => 'get' do
                    .d-flex.flex-row.mx-sm-3.align-items-center
                        =text_field_tag :search, params[:search], :placeholder => "Search Stocks", :class => "form-control m-3 p-2"
                        =submit_tag "Search", :name => nil, :class => "btn btn-warning p-2"
            .d-flex.flex-column.mb-4
                %h5.text-secondary="Cash Balance"
                %h3.px-3="#{display_currency(current_user.trader.wallet.balance)}"

        
        
        - if current_user.trader.watches && current_user.trader.watches != []
            %h2 My Watchlist
            .px-5
                %table.table.table-hover.align-middle
                    %thead
                        %tr
                            %th
                            %th Stock Name
                            %th Current Price
                            %th.text-center 24h Change
                            %th.text-center 24h Volume
                            %th.text-center Market Cap
                            %th.text-center Last 7 Days
                            %th
                    %tbody
                        - stocks = current_user.trader.watches
                        - stocks.each do |stock|
                            %tr
                                - if get_watchlist.include?(stock.id)
                                    %td
                                        = link_to watchlist_stock_path(stock, type: "unwatchlist"), method: :put do
                                            %i.bi.bi-star-fill.link-warning          
                                -else
                                    %td
                                        = link_to watchlist_stock_path(stock, type: "watchlist"), method: :put do
                                            %i.bi.bi-star.link-secondary
                                %td
                                    .d-flex.flex-row.align-items-center
                                        = image_tag(stock.image, :size =>'30x30')
                                        .px-2= stock.symbol.upcase
                                        .text-secondary= stock.name
                                - if stock.get_data != []
                                    %td= display_currency(stock.current_price)
                                    - if stock.current_daily_change > 0 
                                        %td.text-center.text-success= number_to_percentage(stock.current_daily_change)
                                    -else
                                        %td.text-center.text-danger= number_to_percentage(stock.current_daily_change)
                                    %td.text-center= display_big_currency(stock.daily_volume)
                                    %td.text-center= display_big_currency(stock.current_market_cap)
                                    =render 'sparkline', stock: stock
                                - else
                                    %td
                                    %td
                                    %td
                                    %td
                                    %td
                                %td= link_to "Trade #{stock.symbol.upcase}", stock
        - else 
            %h1 Hello Admin #{current_user.admin.first_name}
    -else 
        %h1 Hello Bes
