%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.form-floating.mb-4.col-6
    = f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true, autocomplete: "email"
    = f.label :email, 'Email', class: 'form-label'
  .field.form-floating.mb-2.col-6
    = f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: "current-password"
    = f.label :password, 'Password', class: 'form-label'
  - if devise_mapping.rememberable?
    .field.mb-2
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in", class: 'btn btn-outline-primary mb-3'
= render "devise/shared/links"
