%p#notice= notice
%h1 Transactions
%table.table
  %thead
    %tr
      %th User
      %th Date
      %th Type
      %th.text-center{:colspan => "3"} Stock
      %th Purchase Price
      %th Stock shares 
      %th Purchase Value
      %th Current Value
      %th % Change
      %th Profit / Loss
      %th{:colspan => "3"}
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.trader_id
        %td= transaction.date.strftime("%d %b %Y %T %p")
        %td= transaction.transaction_type.upcase
        %td= image_tag(transaction.stock.image, :size =>'30x30')
        %td= transaction.stock.name
        %td= transaction.stock.symbol.upcase
        %td= display_currency(transaction.price)
        %td= transaction.stock_share
        %td= display_currency(transaction.purchase_value)
        %td= display_currency(transaction.current_value)
        - if transaction.percent_change > 0 
          %td.text-success= number_to_percentage(transaction.percent_change)
          %td.text-success= display_currency(transaction.profit_loss)
        - else
          %td.text-danger= number_to_percentage(transaction.percent_change)
          %td.text-danger= display_currency(transaction.profit_loss)
        %td= link_to 'Show', transaction
= link_to 'Stocks', stocks_path
