%p#notice= notice
%h1 Portfolio
%table.table
  %thead
    %tr
      %th.text-center{:colspan => "3"} Stock
      %th Stock shares 
      %th Average Price
      %th Current Price
      %th Current Value
      %th % Change
      %th Profit / Loss
      %th{:colspan => "3"}
  %tbody
    - @transactions.each do |transaction| 
      -if get_total_stock_share(transaction.stock_id) > 0
        %tr
          %td= image_tag(transaction.stock.image, :size =>'30x30')
          %td= transaction.stock.name
          %td= transaction.stock.symbol.upcase
          %td= get_total_stock_share(transaction.stock_id)
          %td= display_currency(get_average_purchase_price(transaction.stock_id))
          %td= display_currency(transaction.current_price)
          %td= display_currency(get_current_value(transaction))
          - if get_percent_change(transaction) > 0 
            %td.text-success= number_to_percentage(get_percent_change(transaction))
            %td.text-success= display_currency(get_profit_loss(transaction))
          - else
            %td.text-danger= number_to_percentage(get_percent_change(transaction))
            %td.text-danger= display_currency(get_profit_loss(transaction))
          %td= link_to 'Show Transactions',  portfolio_path + "/#{transaction.stock_id}"

= link_to 'Stocks', stocks_path
