%p#notice= notice
.container
  %h1="Portfolio"
  .d-flex.flex-row.align-items-stretch.justify-content-between.mx-5
    .w-100.d-flex.flex-column.py-5.px-3.m-3.ps-5.ms-3
      .d-flex.flex-column
        %h5.text-secondary="Portfolio Value"
        %h3.text-primary.px-3="#{display_currency(current_profit_loss[:total_value])}"
      .d-flex.flex-column
        %h5.text-secondary="Portfolio Profit & Loss"
        .d-flex.flex-row.align-items-center
          -if current_profit_loss[:amount] > 0
            %h3.text-primary.px-3.text-success="#{display_currency(current_profit_loss[:amount])}"
          -else current_profit_loss[:amount] > 0
            %h3.text-primary.px-3.text-danger="#{display_currency(current_profit_loss[:amount])}"
          %h6.text-muted.px-2="(#{number_to_percentage(current_profit_loss[:percent])})"
      .d-flex.flex-column
        %h5.text-secondary="Cash Balance"
        %h3.text-primary.px-3="#{display_currency(current_user.trader.wallet.balance)}"
    =render 'donut'
  .px-5
    %table.table.table-hover.align-middle
      %thead
        %tr
          %th.text-center Stock Name
          %th Stock shares 
          %th Average Price
          %th Current Price
          %th Current Value
          %th.text-center Profit & Loss
          %th
      %tbody
        - @transactions.each do |transaction| 
          -if get_total_stock_share(transaction.stock_id) > 0
            %tr
              %td.d-flex.flex-row.align-items-center
                .py-1= image_tag(transaction.stock.image, :size =>'30x30')
                .px-2= transaction.stock.symbol.upcase
                .text-secondary= transaction.stock.name
              %td= number_with_delimiter(get_total_stock_share(transaction.stock_id))
              %td= display_currency(get_average_purchase_price(transaction.stock_id))
              %td= display_currency(transaction.current_price)
              %td= display_currency(get_current_value(transaction))
              %td
                .d-flex.flex-row
                  - if get_percent_change(transaction) > 0 
                    .text-success= display_currency(get_profit_loss(transaction))
                  - else
                    .text-danger= display_currency(get_profit_loss(transaction))
                  .text-muted.px-1= "(#{number_to_percentage(get_percent_change(transaction))})"
               
              %td= link_to 'Show Transactions',  portfolio_path + "/#{transaction.stock_id}"

  = link_to 'Stocks', stocks_path
  %br
  = link_to 'Show All Transactions', transactions_path
