%p#notice= notice
.container
  .d-flex.flex-row.align-items-center.justify-content-between.mx-5
    .d-flex.flex-row.align-items-center
      .m-3= image_tag(@stock.image, :size =>'60x60')
      .d-flex.flex-column
        .d-flex.flex-row.align-items-center
          %h2.px-3=@stock.symbol.upcase
          %h3.text-muted=@stock.name
        .d-flex.flex-row.align-items-center
          %h2.px-3{:id => "current_price", "data-stock-price" => @stock.current_price}= display_currency(@stock.current_price)
          - if @stock.current_daily_change > 0 
            %h5.text-success= "(#{number_to_percentage(@stock.current_daily_change)})"
          - else
            %h5.text-danger= "(#{number_to_percentage(@stock.current_daily_change)})"
    .col-7.m-3.align-items-center.justify-content-center
      %table.table
        %thead
          %tr
            %th Market Cap
            %th 24h Volume
            %th 24h High 
            %th 24h Low 
            %th All-time High
        %tbody
          %tr
            %td= display_currency(@stock.current_market_cap)
            %td= display_currency(@stock.daily_volume)
            %td= display_currency(@stock.current_daily_high)
            %td= display_currency(@stock.current_daily_low)
            %td= display_currency(@stock.current_ath)

  .px-5
    %table.table.table-hover.align-middle
      %thead
        %tr
          %th.text-center Date
          %th Type
          %th Purchase Price
          %th Stock shares 
          %th Purchase Value
          %th Current Value
          %th.text-center % Change
          %th Profit / Loss
          %th{:colspan => "3"}
      %tbody
        - @transactions.each do |transaction|
          %tr
            %td= transaction.date.strftime("%d %b %Y %T %p")
            - if transaction.transaction_type == "buy"
              %td
                .text-success= transaction.transaction_type.upcase
            - else 
              %td
                .text-danger= transaction.transaction_type.upcase
            %td= display_currency(transaction.price)
            %td= transaction.stock_share
            %td= display_currency(transaction.purchase_value)
            %td= display_currency(transaction.current_value)
            - if transaction.percent_change > 0 
              %td.text-success= number_to_percentage(transaction.percent_change)
              %td.text-success= display_currency(transaction.profit_loss)
            - else
              %td.text-danger= number_to_percentage(transaction.percent_change)
              %td.text-danger= display_currency(transaction.profit_loss)
            %td= link_to 'Show', transaction

  = link_to 'Portfolio', portfolio_path
  %br
  = link_to "Trade #{@stock.symbol.upcase}", stocks_path + "/#{@stock.id}"
