.container
  .d-flex.flex-row.justify-content-center.mt-5.align-items-center
    .card.shadow{:style => "width: 30rem;"}
      -if @transaction.transaction_type == "buy"
        .p-3.card-header.bg-success.text-white.text-center= "BUY ORDER FULFILLED"
      -else
        .p-3.card-header.bg-danger.text-white.text-center= "SELL ORDER FULFILLED"
      .p-3
        .mx-5.px-3.py-1.d-flex.flex-row.align-items-center.justify-content-between
          .px-2= "Date"
          = @transaction.date
        .mx-5.px-3.py-1.d-flex.flex-row.align-items-center.justify-content-between
          .px-2= "Stock name"
          .d-flex.flex-row.align-items-center
            .py-1= image_tag(@transaction.stock.image, :size =>'30x30')
            .px-2= @transaction.stock.symbol.upcase
            .text-secondary= @transaction.stock.name
        .mx-5.px-3.py-1.d-flex.flex-row.align-items-center.justify-content-between
          .px-2= "Stock share"
          = number_with_delimiter(@transaction.stock_share)
        .mx-5.px-3.py-1.d-flex.flex-row.align-items-center.justify-content-between
          .px-2= "Stock Price"
          = display_currency(@transaction.price)
        .mx-5.px-3.py-1.d-flex.flex-row.align-items-center.justify-content-between
          .px-2= "Total Price"
          = display_currency(@transaction.purchase_value)

        = link_to 'Portfolio', portfolio_path
