%h2.mb-5.text-secondary Edit #{@user.trader.first_name}
= form_with(model: @user, as: resource_name, url: admin_update_trader_path(@user.id), method: 'patch') do |f|
  = render "devise/shared/error_messages", user: @user
  .field.form-floating.mb-4.col-6
    = f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true, autocomplete: "email"
    = f.label :email, 'Email', class: 'form-label'
  - if devise_mapping.confirmable? && @user.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{@user.unconfirmed_email}
  = f.fields_for :trader do |trader|
    .field.form-floating.mb-4.col-6
      = trader.text_field :first_name, class: 'form-control', placeholder: 'First Name'
      = trader.label :first_name, 'First Name', class: 'form-label'
    .field.form-floating.mb-4.col-6
      = trader.text_field :last_name, class: 'form-control', placeholder: 'Last Name'
      = trader.label :last_name, 'Last Name', class: 'form-label'
    .field.form-floating.mb-4.col-6
      = trader.text_field :mobile_number, class: 'form-control', placeholder: 'Mobile Number'
      = trader.label :mobile_number, 'Mobile Number', class: 'form-label'
  .actions
    = f.submit "Update", class: 'btn btn-outline-primary mb-3'
= link_to "Back", :back
